@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@model ECommerce.Models.ViewModels.ServiceCompareViewModel

@{
    ViewData["Title"] = "مقارنة خدمات";
}

<h2>مقارنة خدمات</h2>
@using (Html.BeginForm("Compare", "Services", FormMethod.Post))
{
    <div>
        <hr />
        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                </div>
                <div class="col-lg-2">
                    <input class="btn btn-warning btn-block" type="submit" value="قارن" />
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div id="Search">
                        @if (Model.FirstService == null)
                        {
                            <input list="data1" name="searchName1" id="searchName1" placeholder="إبحث عن خدمة" />
                        }
                        else
                        {
                            <input list="data1" name="searchName1" id="searchName1" value="@Model.FirstService.Name" />
                        }

                        <datalist id="data1">
                            @foreach (var item in ViewBag.Services)
                            {
                                <option value="@item.Name" />
                            }
                        </datalist>

                        <i class="glyphicon glyphicon-search"></i>

                    </div>
                    <br />

                    @if (Model.FirstService != null)
                    {
                        <table class="table table-striped table-bordered table-responsive">
                            <tr>
                                <th>
                                    بائع الخدمات
                                </th>
                                <td>
                                    @Model.FirstService.Sprovider.CompanyName
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    اسم الخدمة
                                </th>
                                <td>
                                    @Model.FirstService.Name
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    السعر
                                </th>
                                <td>
                                    @Model.FirstService.Price
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    زمن التسليم
                                </th>
                                <td>
                                    @Model.FirstService.ExpectedTime
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    صورة
                                </th>
                                <td>
                                    <img src="~/uploads/service/@Model.FirstService.Image" alt="@Model.FirstService.Name" style="width:160px; height:160px;" class="img-thumbnail" />
                                </td>
                            </tr>
                        </table>
                    }
                    @if ((await AuthorizationService.AuthorizeAsync(User, "Customer")).Succeeded)
                    {
                        if (@Model.FirstService != null)
                        {
                            <div>
                                <a class="btn btn-success" asp-controller="Orders" asp-action="Create" asp-route-myServiceID="@Model.FirstService.Id">اطلب</a>

                            </div>
                        }

                    }
                </div>
                <div class="col-lg-6">
                    <div id="Search">
                        @if (Model.SecondService == null)
                        {
                            <input list="data2" name="searchName2" id="searchName2" placeholder="إبحث عن خدمة" />
                        }
                        else
                        {
                            <input list="data2" name="searchName2" id="searchName2" value="@Model.SecondService.Name" />
                        }
                        <datalist id="data2">
                            @foreach (var item in ViewBag.Services)
                            {
                                <option>@item.Name</option>
                            }
                        </datalist>
                        <i class="glyphicon glyphicon-search"></i>
                    </div>
                    <br />
                    @if (Model.SecondService != null)
                    {
                        <table class="table table-striped table-bordered table-responsive">
                            <tr>
                                <th>
                                    بائع الخدمات
                                </th>
                                <td>
                                    @Model.SecondService.Sprovider.CompanyName
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    اسم الخدمة
                                </th>
                                <td>
                                    @Model.SecondService.Name
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    السعر
                                </th>
                                <td>
                                    @Model.SecondService.Price
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    زمن التسليم
                                </th>
                                <td>
                                    @Model.SecondService.ExpectedTime
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    صورة
                                </th>
                                <td>
                                    <img src="~/uploads/service/@Model.SecondService.Image" alt="@Model.SecondService.Name" style="width:160px; height:160px;" class="img-thumbnail" />
                                </td>
                            </tr>
                        </table>
                    }
                    @if ((await AuthorizationService.AuthorizeAsync(User, "Customer")).Succeeded)
                    {
                        if (@Model.SecondService != null)
                        {
                            <div>
                                <a class="btn btn-success" asp-controller="Orders" asp-action="Create" asp-route-myServiceID="@Model.SecondService.Id">اطلب</a>

                            </div>
                        }

                    }
                </div>

            </div>
        </div>
    </div>

}


@*<div>
        @if ((await AuthorizationService.AuthorizeAsync(User, "ServiceProvider")).Succeeded)
        {

            <a asp-action="Index" asp-route-SproviderId="@Model.SproviderId"> عودة</a>
        }
        else if ((await AuthorizationService.AuthorizeAsync(User, "Admin_CustomerService")).Succeeded)
        {
            <a asp-action="CompanyServices" asp-route-SproviderId="@Model.SproviderId"> عودة</a>
        }
        else
        {

            <a asp-action="CompanyServices" asp-route-SproviderId="@Model.SproviderId"> عودة</a>
        }
    </div>*@
