@model ECommerce.Models.Sprovider

@{
    ViewData["Title"] = "Delete";
}

<h2>حذف</h2>

<h3>هل تريد حذف مقدم الخدمة؟</h3>
<div>
    <hr />
    @*Service Provider*@
    <table class="table table-bordered table-striped table-responsive">
        <thead>

            <tr>
                <th colspan="4">
                    مدير مقدم الخدمة
                </th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th>
                    الاسم
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User.Address)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Model.User.FullName
                </td>
                <td>
                    @Model.User.PhoneNumber
                </td>
                <td>
                    @Model.User.Email
                </td>
                <td>
                    @Model.User.Address
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <br />

    @*Company*@
    <table class="table table-bordered table-striped table-responsive">
        <thead>
            <tr>
                <th colspan="4">
                    مقدم الخدمة
                </th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th>
                    الفئة
                </th>
                <th>
                    الاسم
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rating)

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)

                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Model.Category.Name
                </td>
                <td>
                    @Model.CompanyName
                </td>
                <td>
                    <div style="margin: auto; width:50%;">
                        @*<span>Rate: </span>*@
                        @{
                            var counter = 0;
                            for (int i = 0; i < Model.Rating; i += 20)
                            {
                                counter++;
                                <i class="fa fa-star" style="color:goldenrod; align-content:center"></i>
                            }
                            for (int i = 0; i < 5 - counter; i++)
                            {
                                <i class="fa fa-star"></i>
                            }
                        }
                    </div>
                </td>
                <td>
                    <img src="~/uploads/sprovider/@Model.Image" alt="@Model.CompanyName" style="width:160px; height:160px;" class="img-thumbnail" />
                </td>
            </tr>
        </tbody>
    </table>



    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="حذف" class="btn btn-danger" /> |
        <a asp-action="Index">العودة إلى القائمة</a>
    </form>
</div>
